.root {
  height: 100%;
  width: 100%;
  background-color: var(--dynamicColorTest);
  margin: 0 auto;
}

.details {
    font-size: 0.5em;
    line-height: 1;
    color: yellow;
}

a {
    display: block;
    width: inherit;
    height: inherit;
    color: rgba(255, 255, 255, 0.7);

    font-size: 3em;
    pointer-events: none;
  }

  span {
    position: absolute;
    top: 20%;
    text-align: center;

  }